@using BlazorWASM.Helpers;
@using Microsoft.AspNetCore.Components.Forms

<PageTitle>Tevuna Reddit</PageTitle>

<section class="form-section @(!HasSearchedBefore ? "first-time" : String.Empty)">

    <EditForm Model="@_analyseRequest" OnValidSubmit="@HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group">
            <InputText id="Username" autocomplete="off" @bind-Value="_analyseRequest.Username" type="text" class="form-control" placeholder="Reddit Username... " />
            <ValidationMessage For="@(() => _analyseRequest.Username)" />
        </div>

        @if(!_isWorking)
        {
            <button type="submit" class="btn btn-primary">Analyse</button>
        }
        else
        {
            <button disabled type="submit" class="btn btn-primary">Analyse</button>
        }

    </EditForm>
</section>

@if(_errorHappened)
{
    <div class="error-message-container">
        <p>@_errorMessage</p>
    </div>
}

<StatusComponent 
    @ref="_statusComponent"
    PrimaryStatusText="@_status"
    StatusMessages="_statusMessages"
    CompactMode="HasSearchedBefore"
    DisplayComponent="_showStatusComponent"
    DisplayLoadingStatus="true"/>